body {
max-width: 1600px;
width: auto;
font-family: 'Lato';
background-color: #EEF0EB;
color: #B4B8AB;
font-size: 18px;
}

.logo {
  max-width: 30%;
  margin: auto;
}

.logo img {
  width: 100%;
}

.jumbotron {
  margin-bottom: 0;
}

nav {
  height: auto;
}

.navContainer {
  width: auto;
  margin: auto;
  text-align: center;
  overflow: none;
  height: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
  overflow: none;
}

li {

  padding: 0 1rem;
  transition: ease-in-out 1s;
  font-size: 1rem;
  display: inline;
}

li:hover {
  background-color: #B4B8AB;
  color: white;
  transition: ease-in-out 1s;
  cursor: pointer;
}



/* .logo {
  width: 2 rem;
  max-width: 30%;
  overflow: none;
} */

/* * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    width: auto;
    font-family: 'Lato';
    background-color: #EEF0EB;
    color: #B4B8AB;
    font-size: 18px;
    max-width: 1600px;
    margin: auto;
    position: relative;
    min-height: 100vh;
}

.headerContainer {
    padding-top: 3rem;
    width:25rem;
    overflow: hidden;
    margin: auto;
}



nav {
    height: auto;
}

.navContainer {
    width: auto;
    margin: auto;
    text-align: center;
    overflow: none;
    height: 100%;
}

ul {
    list-style: none;
    padding-left: 0;
    overflow: none;
}

li {
  
    padding: 0 1rem;
    transition: ease-in-out 1s;
    font-size: 1rem;
    display: inline;
}

li:hover {
    background-color: #B4B8AB;
    color: white;
    transition: ease-in-out 1s;
    cursor: pointer;
}

.page {
  padding-top: 2rem;
    width: 70%;
    min-height: 40vh;
    margin: auto;
    text-align: center;
    animation: fadein 1s ease-in;
}

.pageContent {
    padding-top: 2rem;
    width: 50%;
    min-height: 40vh;
    margin: auto;
    text-align: center;
    animation: fadein 1s ease-in;
    max-width: 100%;
}

.portfolio {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 25rem;
  position: relative;
}

#nmf {
  background-image: url(images/nmf.png);
  position: relative;
}

.overlay {
  position: fixed;
  bottom: 0;
  height: 50%;
  max-width: 100%;
}

.home {

}

.contact {

}

.contact a:link {
    text-decoration: none;
    color: #B4B8AB;
}

.contact a:visited {
    text-decoration: none;
    color: #B4B8AB;
}

.contact .phone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact img {
    display: inline-block;
    height: 2rem;
    padding-right: 0.5rem;
}

.contact .email img {
    padding-right: 1rem;
}

.projects {
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 5rem;
}

.hidden {
    display: none;
}

.sideNav {
    height: auto;
    width: 10rem;
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    /* z-index: 1;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.social {
    width: 100%;
    padding: 1rem;
    margin: auto;
    text-align: center;
}

.social img {
    cursor: pointer;
    width: 100%;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.social img:hover {
    animation-name: spin;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
} */

